<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'slide1.jpg', alt: '' %>
      <div class="carousel-caption">
        Słodkich snów :D
      </div>
    </div>
    <div class="item">
      <%= image_tag 'slide2.jpg', alt: '' %>
      <div class="carousel-caption">
        hue hue, dr. house
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 bluebg homebox">
      <span class="glyphicon glyphicon-plus"></span>
      <h1>Usługi</h1>
      <p>Nasze usługi coś tam coś tam coś tam coś tam.</p>
      <a class="btn btn-default" href="#.">Czytaj więcej</a>
    </div>
    <div class="col-md-4 homebox">


      <span class="glyphicon glyphicon-time"></span>
      <h1>Godziny otwarcia</h1>
      <p>Nasi specjaliści czekają na Ciebie.</p>

      <ul class="list-unstyled">
        <li class="clearfix">
						<span>
							Poniedziałek - Piątek
						</span>
                    <span class="pull-right">
                        9.30 - 17.00
                    </span>
        </li>
        <li class="clearfix">
						<span>
							Sobota
						</span>
                    <span class="pull-right">
                        9.30 - 17.00
                    </span>
        </li>
        <li class="clearfix">
						<span>
							Niedziela
						</span>
                    <span class="pull-right">
                        nieczynne
                    </span>
        </li>
      </ul>
    </div>
    <div class="col-md-4 bluebg homebox">

      <span class="glyphicon glyphicon-tint"></span>
      <h1>Kriolipoliza</h1>
      <p class="text-justify">Info</p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="container">
  <h1>Coś tam...</h1>
  <p class="text-justify">
    <%= image_tag 'd1.jpg', alt: '', class: 'img-responsive pull-left', style: 'max-height: 400px;padding: 10px' %>

    Lorem ipsum dolor sit amet dolor. Maecenas blandit risus et magnis dis parturient montes, nascetur ridiculus mus.
    Mauris eros eros orci mauris sed ante id nulla nulla, at turpis. Cras elementum. Aenean commodo nec, eros. Duis
    porttitor dui. Etiam commodo est. Quisque a laoreet ultricies libero mollis nibh consectetuer congue non, porta ut,
    porta et, tristique commodo. Curabitur tincidunt fermentum. Vivamus faucibus orci luctus et netus et ultrices
    posuere cubilia Curae, Sed quam sagittis nibh lacus, congue at, malesuada elit porttitor a, elementum consequat.
    Nulla consectetuer, augue quis erat volutpat. Nam tempor enim diam, viverra diam at lacus at tellus. Suspendisse
    est. Donec fermentum molestie egestas, orci sem tincidunt sit amet augue. Morbi tincidunt. Nulla dolor lorem,
    pretium wisi, eget augue. Nam turpis egestas. Phasellus quis velit. Vivamus vel pede. Nullam wisi nibh, interdum eu,
    rhoncus ut, sapien. Praesent gravida gravida mattis, magna lectus, volutpat aliquam quis, congue eleifend.
    Vestibulum ante mollis risus. Nulla a leo facilisis nisl sit amet metus. Curabitur condimentum urna, egestas est et
    gravida vitae, imperdiet facilisis faucibus quis, tellus. Donec congue. Integer leo lacus, congue.</p>

  <div class="clearfix"></div>
  <p class="text-justify">

    <%= image_tag 'd2.jpg', alt: '', class: 'img-responsive pull-right', style: 'max-height: 400px;padding: 10px' %>
    Fusce ullamcorper lorem. Vestibulum convallis eu, pretium vehicula sed, aliquet vulputate, odio orci, gravida
    pulvinar. Nulla sed libero. Donec nonummy porttitor laoreet fermentum. Praesent tortor id nonummy sodales wisi
    placerat eget, neque. Phasellus sagittis lacus. Phasellus ipsum at ante. Fusce mollis eu, tristique senectus et
    wisi. Sed porttitor, arcu mi libero, id eros. Vestibulum aliquam sapien. Suspendisse bibendum pede porta sit amet
    eleifend tincidunt, velit odio quis dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
    inceptos hymenaeos. Sed metus. Aliquam in turpis et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum
    quam. Integer eu lectus. In urna. Donec nisl mollis luctus. Phasellus quis arcu. Sed ornare in, dapibus imperdiet
    congue augue mi, id tortor et ultrices posuere iaculis pretium felis in neque sollicitudin quis, lacinia ut, lectus.
    Vestibulum fermentum. Praesent tristique senectus et turpis. Duis luctus. Aenean mollis nunc mauris, adipiscing
    elit. Integer sodales wisi placerat elementum et, neque. In quam placerat id, ullamcorper feugiat, pulvinar felis,
    vestibulum volutpat, erat eu ligula dui, accumsan id, vehicula eget, elementum ultrices. Vestibulum rutrum magna ut
    aliquet lorem. Sed.</p>
</div>