<table class="table table-striped table-hover">
  <tr>
    <th width="350px">Imię</th>
    <td><%= @client.first_name %></td>
  </tr>
  <tr>
    <th>Nazwisko</th>
    <td><%= @client.last_name %></td>
  </tr>
  <tr>
    <th>E-mail</th>
    <td><%= @client.email %></td>
  </tr>
  <tr>
    <td>
    </td>
  </tr>
</table>

<h1>Komentarze</h1>
