<table class="table table-striped table-hover">
  <tr>
    <th>Nazwa</th>
    <td><%= @service.name %></td>
  </tr>
  <tr>
    <th>Opis</th>
    <td><%= @service.description %></td>
  </tr>
  <tr>
    <th>Cena</th>
    <td><%= @service.price %></td>
  </tr>
  <tr>
    <th>Czas [ min ] </th>
    <td><%= @service.duration %></td>
  </tr>
</table>