<table class="table table-striped table-hover">
  <tr>
    <th>Nazwa</th>
    <td><%= @services.name %></td>
  </tr>
  <tr>
    <th>Opis</th>
    <td><%= @services.description %></td>
  </tr>
  <tr>
    <th>Cena</th>
    <td><%= @services.price %></td>
  </tr>
  <tr>
    <th>Czas[min]</th>
    <td><%= @services.duration %></td>
  </tr>
</table>