<div id="about">
    <header>
      <div class="warp">
        <h1 class="text-center">O Nas</h1>
        <div class="text-center">
          <small>Spotkaj najlepszych specjalistów w jednym miejscu!</small>
        </div>
      </div>
    </header>

  <div class="container">

    <h1>KIM JESTEŚMY</h1>
    <div class="line1"></div>
    <div class="line1"></div>
    <div class="line1"></div>
    <br />
    <br />
    <blockquote>
    <p class="text-muted">Lorem ipsum dolor sit amet nunc hendrerit libero. Duis luctus, enim sed condimentum nec, elementum orci luctus et netus et ultrices lorem tortor massa metus nisl dui pulvinar mollis. Nunc elementum. Nunc sit amet lacus. Vivamus vel quam ultricies nec, iaculis leo. Ut eget diam felis, in nibh nisl, sollicitudin posuere, nibh wisi, mollis ultrices, velit ornare dolor sit amet ultricies porta. Sed et ultrices posuere cubilia Curae, Nulla nec velit non eros. Aliquam urna. Nulla augue at consectetuer adipiscing metus. Integer adipiscing. Mauris purus. Phasellus posuere cubilia Curae, Vestibulum laoreet, est turpis mauris luctus elit, non dui. Morbi ut orci luctus arcu ac arcu. Etiam vehicula libero purus sem at arcu. Cras orci. Proin odio. In cursus at, fermentum diam bibendum porttitor. Maecenas eu odio. In gravida eros sagittis sed, ullamcorper augue, vel massa non enim metus a nisl. Aenean mollis ac, blandit vestibulum lectus id rutrum pede bibendum tellus, quis felis blandit risus auctor vel, nisl. Sed in neque ac imperdiet quis, commodo id, mattis nec, accumsan sit amet, euismod purus sit amet, felis. Pellentesque ante. Proin scelerisque.</p>
    </blockquote>

    <h1>DLACZEGO MY?</h1>
    <div class="line1"></div>
    <div class="line1"></div>
    <div class="line1"></div>
    <br />
    <br />
    <blockquote>
      <p class="text-muted">Lorem ipsum dolor sit amet nunc hendrerit libero. Duis luctus, enim sed condimentum nec, elementum orci luctus et netus et ultrices lorem tortor massa metus nisl dui pulvinar mollis. Nunc elementum. Nunc sit amet lacus. Vivamus vel quam ultricies nec, iaculis leo. Ut eget diam felis, in nibh nisl, sollicitudin posuere, nibh wisi, mollis ultrices, velit ornare dolor sit amet ultricies porta. Sed et ultrices posuere cubilia Curae, Nulla nec velit non eros. Aliquam urna. Nulla augue at consectetuer adipiscing metus. Integer adipiscing. Mauris purus. Phasellus posuere cubilia Curae, Vestibulum laoreet, est turpis mauris luctus elit, non dui. Morbi ut orci luctus arcu ac arcu. Etiam vehicula libero purus sem at arcu. Cras orci. Proin odio. In cursus at, fermentum diam bibendum porttitor. Maecenas eu odio. In gravida eros sagittis sed, ullamcorper augue, vel massa non enim metus a nisl. Aenean mollis ac, blandit vestibulum lectus id rutrum pede bibendum tellus, quis felis blandit risus auctor vel, nisl. Sed in neque ac imperdiet quis, commodo id, mattis nec, accumsan sit amet, euismod purus sit amet, felis. Pellentesque ante. Proin scelerisque.</p>
    </blockquote>

  </div>
</div>